{% extends "base.html" %}

{% block content%}

<div class="container">
    <h2>🐍 Python Компилятор</h2>

    <textarea id="code" placeholder="Введи код...">print("Hello, World!")</textarea>

    <div class="toolbar">
        <button id="run-btn" onclick="runCode()">Запустить</button>
        <button id="clear-btn" onclick="clearAll()">Очистить</button>
    </div>

    <div class="output-label">Результат:</div>
    <div id="output">Результат появится здесь...</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock content%}